*{
    margin: 0;
    padding: 0;
}
body {
    /*background-image: url("repeatbg.jpg");*/

    background: rgba(0,0,0,0.9);
    font-family: "Roboto Light", sans-serif;
}

main {
    width: 100%;
    position: relative;
    text-align: center;
    top: 40px;
    bottom: 20px;
    padding-top: 10%;
}
main div {
    color: azure;
    padding: 15px;
    position: sticky;
    position: -webkit-sticky;
    margin: 25px auto;
    width: 8%;
    min-width: 100px;
    border-radius: 55px;
    cursor: pointer;
}

main div:hover{
    color: black;
    background-color: #f2f2f2;
    transition: towhite 0.2s;
    -webkit-transition: towhite 0.2s;
    animation: smoothie 0.3s;
    animation-iteration-count: infinite;

}

@keyframes smoothie {
    0% { transform: rotate(0deg); }
    15% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    85% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }

}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake */