*{
    margin: 0;
    padding: 0;
}
body {
    /*background-image: url("repeatbg.jpg");
    background-repeat: repeat;*/
    background: rgba(0,0,0,0.9);
    font-family: "Roboto Light", sans-serif;
}

main {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 40px;
    bottom: 20px;
    padding-top: 10%;
}
main div {

    background: none;
    color: azure;
    padding: 15px;
    position: sticky;
    position: -webkit-sticky;
    margin: 25px auto;
    width: 8%;
    min-width: 100px;
    border-radius: 55px;
    cursor: pointer;

}

main div:hover{
    color: black;
    background-color: #f2f2f2;
    transition: towhite 0.2s;
    -webkit-transition: towhite 0.2s;
    animation: smoothie 1.5s;
    animation-iteration-count: infinite;

}

@keyframes smoothie {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_shake */