*{
    /*background-color: blue;
    animation: red-purple-gold-blue 15s infinite; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
/*
@-webkit-keyframes red-purple-gold-blue{
    0% {background-color: blue}
    25% {background-color: darkred}
    50% {background-color: #ffd700}
    75% {background-color: purple}
    100% {background-color: blue}
}*/
canvas {
    position: absolute;
    background: #191919;
    width: 100%;
    height: 100%;
}

.generer-tre-knapp {
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px 30px;
    border-radius: 50px;
    background: aliceblue;
    color: black;
    font-size: 20px;
    width: 300px;
    overflow: hidden;
    border: black;
}

.bg2{
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    right: 10%;
    transform: translate(-50%, 0);
    padding: 20px 30px;
    border-radius: 50px;
    background: aliceblue;
    color: black;
    font-size: 20px;
    width: 200px;
    overflow: hidden;
    border: black;
}
.bg3{
    cursor: pointer;
    outline: none;
    border: none;
    position: absolute;
    bottom: 5%;
    z-index: 10;
    left: 10%;
    transform: translate(-50%, 0);
    padding: 2px 3px;
    border-radius: 50px;
    background: aliceblue;
    color: black;
    font-size: 20px;
    width: 200px;
    overflow: hidden;
    border: black;
}
body {
    font-family: "Roboto Light", sans-serif;
}
p {
    margin: 24px 0;
    line-height: 2;
}








/* cookies :(
.wrapper {
    padding: 32px;
}
.cookie-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    color: #f5f6fa;
    padding: 0 32px;
    box-shadow: 0 -2px 16px darkgrey;

    transition: 400ms;
}
.cookie-container canvas, #overlay {
    position: absolute;
}
.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}
.cookie-btn {
    background: red;
    border: 0;
    color: #f5f6fa;
    padding: 12px 48px;
    font-size: 18px;
    margin-bottom: 16px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
}

 */