body{
    background-color: aqua;

}

section{
    float: right;
}

code {
    background: #a4541a;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font: 16px/18px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 1%;
    text-align: left;
}